slot-booking-exp-api/src/main/mule/slot-booking-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2842dc7-5bc0-4517-9a92-dc918721849a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="slot-booking-experience-apiFlow" doc:id="f903e38e-1137-41f0-bc8f-1f10cf962f84" >
		<http:listener doc:name="Listener" doc:id="7456df49-f154-4ce6-8ecc-09677c990bca" config-ref="HTTP_Listener_config" path="/api/slot-booking"/>
		<apikit:router doc:name="APIkit Router" doc:id="6df78706-60f8-4e29-a28c-fd765db00530" config-ref="slot-booking-exp-api"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="39ab90a1-9f20-44bd-b0c7-25258c1804b7" type="APIKIT:BAD_REQUEST">
				<logger level="INFO" doc:name="Logger" doc:id="02660e40-d190-4be2-9898-8c5c5785ac69" message='#["Bad Request"]'/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4f2ac0ed-e8aa-4405-ae3b-f597e49df12c" type="APIKIT:NOT_FOUND">
				<logger level="INFO" doc:name="Logger" doc:id="67b1f0fb-a2f1-407a-a3c0-39427b475e91" message='#["Not found"]'/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="815d06f7-dd8f-4002-beff-cb64cc53e571" type="EXPRESSION">
				<logger level="INFO" doc:name="Logger" doc:id="0389ea5c-4572-43a6-b90a-7ca630db3570" message='#["Expression error"]'/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="49c94260-644a-4d22-9d9f-ec9dacd9da1a" type="APIKIT:NOT_ACCEPTABLE">
				<logger level="INFO" doc:name="Logger" doc:id="6b82941a-6966-4b5e-9808-a8e22d72f52d" message='#["Request not acceptable"]'/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\empty-slots\lists:application\json:slot-booking-exp-api-config" doc:id="3566e7bf-4dbd-4a56-9ad3-f6cd789b0c14" >
		<flow-ref doc:name="Flow Reference" doc:id="f46d5285-f8fd-4244-b35d-9b83ca2fdd9d" name="get-slots"/>
	</flow>
	<flow name="post:\empty-slots\book-slot:application\json:slot-booking-exp-api-config" doc:id="0362fb30-a079-4a1a-9266-80f5cfaf697f" >
		<flow-ref doc:name="Flow Reference" doc:id="b6e53119-0b43-4d08-a7dc-9c2709b59796" name="book-slots"/>
	</flow>
</mule>
