event-scheduler-prc-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetSlotsBasedOnDates" doc:id="23b8b74e-7342-470f-ae50-74d7e80d5b4a" >
		<http:listener doc:name="Listener" doc:id="2a6199e4-6414-41da-a6ea-27c68bf17f12" config-ref="HTTP_Listener_config" path="/slots/list"/>
		<logger level="INFO" doc:name="Logger" doc:id="64108884-7916-4dca-88f5-881b6d6ec728" message="GetSlotsBasedOnDates flow Start"/>
		<http:request method="GET" doc:name="Request" doc:id="d84b2c89-0e16-46b3-a18a-c3f280e04673" config-ref="HTTP_Request_configuration" path="${url.getSlots}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : attributes.headers.client_secret,
	"Content-Type" : attributes.headers."Content-Type",
	"client_id" : attributes.headers.client_id
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	date : attributes.queryParams.date
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="738a9818-f837-47f1-81db-4937320b856f" message="Slots for given dates retrieved successfully"/>
	</flow>
	<flow name="confirmSlot" doc:id="d1868f19-d8e1-4fc3-9356-9aed160d6511" >
		<http:listener doc:name="Listener" doc:id="f70cdebc-3bad-4322-a5ba-f90c4b374b4d" config-ref="HTTP_Listener_config" path="/slots/book"/>
		<logger level="INFO" doc:name="Logger" doc:id="c9fb400d-7a78-459b-bd27-e00f7c8d0eb3" message="GetSlotsBasedOnDates flow Start"/>
		<ee:transform doc:name="Var Initial Payload" doc:id="aab60155-a1ea-4225-91f6-5b1f996f748a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="var_initial_payload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="PATCH" doc:name="confrim slot" doc:id="00b47724-31be-42b8-b7f3-f28e45efcb27" config-ref="HTTP_Request_configuration" path="${url.bookSlot}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : attributes.headers.client_secret,
	"Content-Type" : attributes.headers."Content-Type",
	"client_id" : attributes.headers.client_id
}]]]></http:headers>
		</http:request>
		<flow-ref doc:name="GoogleCalendarSlotAdding" doc:id="e058da59-904f-4e20-9527-16cef0f6a9fe" name="GoogleCalendarSlotAdding" />
	</flow>
	<flow name="GoogleCalendarSlotAdding" doc:id="442f7549-fc3c-4b4e-b2ba-f6d29723f377" >
		<ee:transform doc:name="request payload for calendar sapi" doc:id="c3447e92-cadb-4750-b130-347009a33cba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "organizer": payload.emp_email default "tanya.yadav@apisero.com",
    "maxAttendees": p('calendar-sys-api.maxAttendees') default "2",
    "sendUpdates": p('calendar-sys-api.sendUpdates') default "all",
    "end": {
        "dateTime": payload.slot_date ++ "T" ++ payload.slot_time_end ++ "+05:30",
        "timeZone": "IST"
    },
    "start": {
        "dateTime": payload.slot_date ++ "T" ++ payload.slot_time_start ++ "+05:30",
        "timeZone": "IST"
    },
    "attendees": 
        {
          "required":{
            "email": [payload.candidate_email]
          },
          "optional":{
            "email": ["test@test.com", "xyz@xyz.com"]
          }
        },
    "summary": p('calendar-sys-api.summary') default "Interview:Bare Essential",
    "description": p('calendar-sys-api.description') default "Please join the interview:Description",
    "guestsCanSeeOtherGuests": p('calendar-sys-api.guestCanSeeOtherGuests'),
    "attachments": [
      {
      "fileUrl": p('calendar-sys-api.attachments.fileUrl') default "https://www.google.com/",
      "title": p('calendar-sys-api.attachments.title') default "interview kit"
      }
    ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="95dc1e0c-7074-475e-a2eb-e9c96acbf425" config-ref="HTTP_Request_configuration1" path="#[p('calendar-sys-api.http.path')]">
			<error-mapping targetType="APP:CALENDARERROR" />
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f6e0ce0e-13c3-40f2-8109-546e5b4afb2e" message="Slot booked successfully"/>
	</flow>
</mule>
