db-sys-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getSlots" doc:id="fed19ecd-c87a-4579-8c84-9e685dd2a8bb" >
		<logger level="INFO" doc:name="Logger" doc:id="d57cc9e3-63ba-4729-8202-8ccb4cbb6ca0" message="hi"/>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="a26f2b7c-3cdc-4baa-8772-5efffdacafa6" >
			<try doc:name="Try" doc:id="d0c39bf6-5cf8-4020-8728-241f8d184201" >
				<db:select doc:name="get Available slots" doc:id="1600d6d4-ddab-421a-b9e2-589d1c858462" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT DISTINCT timeslot_start FROM slots
	WHERE slot_date= :slot_date AND booked is false
]]></db:sql>
			<db:input-parameters><![CDATA[#[slot_date: attributes.queryParams.date]]]></db:input-parameters>
		</db:select>
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a98502bc-1d9e-4a16-b789-3668a6d73e34" type="DB:CONNECTIVITY, STREAM_MAXIMUM_SIZE_EXCEEDED">
						<logger level="INFO" doc:name="Logger" doc:id="f07cb210-2a21-4969-9025-e391f6189fa9" message="#[error]" />
					</on-error-propagate>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9718e84b-83b8-4854-89ac-0c21e2cc3c3b" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="2ef5fa9a-a608-4bb0-89e2-fd4be70f92b6" message="#[error]" />
						<set-variable value="#[true]" doc:name="raiseError" doc:id="f2074e0f-7037-496b-8b17-14010c7fc0dc" variableName="raiseError" />
					</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
		<choice doc:name="Choice" doc:id="e7617625-462f-4ff6-8a90-f8ec35184f1b" >
			<when expression="#[vars.raiseError == true]">
				<raise-error doc:name="Raise error" doc:id="8528a0f6-0c44-4407-ab69-4192456f5c6d" type="ANY" description="The error is not due to any temperary glitch in the network. Check Credentials or Query "/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="548cd32f-d9f5-43c0-86fd-21fe95122785">
			<ee:message>
						<ee:set-payload resource="dataweave/timeslot.dwl" />
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Payload" doc:id="24e495eb-ba62-4328-980f-b9c5b2446e00" message="#[payload]" />
			</otherwise>
		</choice>
	</flow>
	<flow name="PostNewSlots" doc:id="dab54ad1-8a12-4507-ada2-0c6368957ba2" >
		<ee:transform doc:name="Transform Message" doc:id="7027506e-1c7c-437b-adca-dbb2c41e0b18" >
			<ee:message >
				<ee:set-payload resource="dataweave/bulkInput.dwl" />
			</ee:message>
		</ee:transform> 
		<until-successful maxRetries="3" doc:name="Until Successful" doc:id="d3882ed7-f6a6-4288-8b61-70253ac3094e" millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="2e3a200c-e3f1-489b-9853-bc540469344f" >
				<db:bulk-insert doc:name="Bulk insert" doc:id="4c92fba9-2a7c-47b2-abe5-5917220e26e1" config-ref="Database_Config">
					<db:sql ><![CDATA[INSERT INTO slots(
	slot_date, timeslot_start, timeslot_end, creation_date, emp_id)
	VALUES (:slot_date, :timeslot_start, :timeslot_end, (SELECT CURRENT_DATE), :emp_id);]]></db:sql>
				</db:bulk-insert>
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ee2e07cc-a12b-47aa-b3f0-59efec602dae" type="DB:CONNECTIVITY, STREAM_MAXIMUM_SIZE_EXCEEDED">
						<logger level="INFO" doc:name="Logger" doc:id="9b630740-a9ab-4cca-a805-187769365330" message="#[error]"/>
					</on-error-propagate>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="46bd2bd0-6c91-43b6-ac63-c6f1de59b246" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="4211dc2a-68a0-4137-93d9-32048333e2f3" message="#[error]"/>
						<set-variable value="#[true]" doc:name="raiseError" doc:id="22da50ae-57c6-4020-8e2e-6df5f371bce3" variableName="raiseError"/>
					
</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
		<choice doc:name="Choice" doc:id="e9e3a3d5-645d-484b-93df-7f99231e9fcb" >
			<when expression="#[vars.raiseError == true]">
 				<raise-error doc:name="Raise error" doc:id="7d4bf07d-a1dd-4d1b-b979-d10c8f004195" type="ANY" description="The error is not due to any temperary glitch in the network. Check Credentials or Query "/>			
</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="fd804850-3232-4db6-9d58-3d0ccda907ad">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Payload" doc:id="cdc71a1f-0ba8-4138-a966-a9776e7811f7" message="#[payload]" />
			
</otherwise>
		</choice>
	</flow>
	<flow name="confirmSlots" doc:id="1eac6a80-e4f5-4a27-ab5a-e0cce89790f9" >
		<until-successful maxRetries="3" doc:name="Until Successful" doc:id="9fb037ac-df0b-4e59-8553-99abe028407c" millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="1ef93187-b97e-4758-919a-6d5cff63a84b" >
				<flow-ref doc:name="patchSubFlow" doc:id="3a74da59-3d83-4680-901f-88b55b0f4f71" name="patchSubFlow"/>
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="459a18fb-b8b4-4c1a-bfab-246da96a372c" type="DB:CONNECTIVITY, STREAM_MAXIMUM_SIZE_EXCEEDED">
						<logger level="INFO" doc:name="Logger" doc:id="254cf55a-ddc2-4ccf-afc6-ea351f9886ac" message="#[error]"/>
					</on-error-propagate>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a4bbc3e6-3e64-483f-b4fb-c53fe639bb7e" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="ae4bcaaa-d921-4fa7-a19e-2dd4d609aadf" message="#[error]"/>
						<set-variable value="#[true]" doc:name="raiseError" doc:id="cf87cd5f-ea34-4ede-b16b-c6ff2817d45b" variableName="raiseError"/>
					
</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
		<choice doc:name="Choice" doc:id="9cd0dc98-dd20-489f-b955-587e866862f5" >
			<when expression="#[vars.raiseError == true]">
 				<raise-error doc:name="Raise error" doc:id="364c14be-e277-40ba-8578-73265ef1bff0" type="ANY" description="The error is not due to any temperary glitch in the network. Check Credentials or Query "/>			

</when>
			<when expression="#[payload.employee_email == null]">
				<set-payload value="Slot booking unsuccessful !" doc:name="Set Payload" doc:id="de62f92c-e210-4e74-999c-2c736eb8f4f2" />
				<raise-error doc:name="Raise error" doc:id="b6b12e8f-fdaa-49af-aecc-6cded24a1711" type="ANY" description="Slot booking unsuccessful "/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6d2a3341-87b2-4f7a-9c3a-c195d26398b8" message="#[payload]"/>
			

</otherwise>
		</choice>
	</flow>
	<flow name="patchSubFlow" doc:id="77497c7a-81e8-4b3d-a070-cbace4d67c9e" >
		<db:select doc:name="Select slot_id" doc:id="abb55af6-b279-4162-8eac-cca8c82f8b32" target="slot_id" config-ref="Database_Config" targetValue="#[output application/json --- payload.slot_id[0]]">
					<db:sql ><![CDATA[SELECT slot_id FROM slots
				WHERE (slot_date= :slot_date AND timeslot_start= :slot_time AND booked=false)
				LIMIT 1]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	name: payload.name,
	email: payload.email,
	slot_date: payload.slot_date,
	slot_time: payload.slot_time
}]]]></db:input-parameters>
				</db:select>
<!-- 				<ee:transform doc:name="Transform Message" doc:id="ca9e3ac0-81f7-4723-aa17-1dede5139262" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="slot_id" ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
vars.slot_id_var[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform> -->
		<db:update doc:name="Update row for slot_id" doc:id="1801546a-0734-40be-a50c-4850d8352e48" config-ref="Database_Config" target="update_info">
					<db:sql ><![CDATA[UPDATE slots
	SET booked= true, candidate_name= :name, candidate_email=:email , booked_timestamp=(SELECT CURRENT_TIMESTAMP)
	WHERE slot_id=:slot_id;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	name: payload.name,
	email: payload.email,
	slot_date: payload.slot_date,
	slot_time: payload.slot_time,
	slot_id: vars.slot_id
}]]]></db:input-parameters>
				</db:update>
		<db:select doc:name="Select emp_email" doc:id="2c79543b-3e3d-489d-a4b5-81475bfefb1a" config-ref="Database_Config" target="email" targetValue="#[output application/json --- payload.emp_email[0]]">
			<db:sql ><![CDATA[select emp_email from employee
	where emp_id = (select emp_id from slots
						where slot_id = :id)]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: vars.slot_id]]]></db:input-parameters>
		</db:select>
		<db:select doc:name="Select slot end time" doc:id="c6d78803-83e9-4291-b239-85f5502258bb" config-ref="Database_Config" target="timeslot_end" targetValue="#[output application/json --- payload.timeslot_end[0]]">
			<db:sql ><![CDATA[select timeslot_end from slots
	where slot_id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: vars.slot_id]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a3962a15-6c45-40c0-91bd-751a15f7932d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"candidate_name": payload.name,
	"candidate_email": payload.email,
	"slot_date": payload.slot_date,
	"slot_time_start": payload.slot_time,
	"slot_time_end": vars.timeslot_end as Time as String {format: "HH:mm:ss"},
	"employee_email": vars.email
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
